/* #profile {
    font-size: 18px;
} */

nav {
    /* background-color: #337ab7; */
    background-color: #607d8b;
    
}
ul li:after,
ul li:before {
  transition: all .5s;
}

ul li {
  position: relative;
}

ul li:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 2px;
}
ul li:hover:after {
  width: 75%;
}