.topPlayer {
    padding-top: 10px;
}

#title {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#topPlayer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.badge {
    background-color: #455a64;
    color: #ffffff;
}